<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="css/All.css">
</head>
<body>
    <div class="display_name"></div>
    <div class="box">
        <div class="innerBox">
            <input class="inputBox" onkeydown="doit(event)" type="text" placeholder="Enter your Task" >
            <button onclick="addToArr()" class="button_1">Save</button>
        </div>
    </div>
    <div class="tasks">
    </div>
    <div class="fixed_1 clear">
        
    </div>
    <script src="js/All.js"></script>
</body>
</html>