<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo SetUp</title>
    <link rel="stylesheet" href="css/All.css">
    <link rel="icon" href="icons/icon_.png">
</head>
<body>
    <div class="box">
        <p class="text_1">It is not mandatory to give a name , you can skip it if you are not intrested</p>
        <input type="text" class="Name" placeholder="Name" >
        <button class="button_1 button_2" onclick="setName()">Continue</button>
    </div>
    <div class="fixed_1">
        <button onclick="skip()"
        class="button_1 button_2">Skip</button>
    </div>
    <script src="js/All.js"></script>
</body>
</html>