body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 10px;
}
input{
    height: 40px;
    width: 80%;
    padding: 5px 10px;
    background-color: white;
    border: none;
    box-shadow: 0 0 3px gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    padding-left: 15px;
}
.button_1{
    height: 50px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 60px;
    border: 0;
    background-image: linear-gradient(45deg,rgb(0, 181, 132),rgb(0, 221, 255));    
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    
}
.button_2{
    border-radius: 10px;
    width: fit-content;
}

.button_1:hover{
    background-image: linear-gradient(45deg,rgb(0, 221, 255),rgb(0, 181, 132));    
}
.button_3{
    background-image: linear-gradient(45deg,rgb(255, 140, 0),rgb(234, 11, 11)); 
}
.innerBox{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: center;
}
input:focus{
    border: none;
    outline: none;
}
.Name{
    max-width: 250px;
    border-radius: 10px;
}
.tasks{
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.task_{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.remove{
    height: 45px;
    border-radius: 10px;
    border: 0;
    background-image: linear-gradient(45deg,rgb(0, 181, 132),rgb(0, 221, 255));    
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
}
.remove:hover{
    background-image: linear-gradient(green,green);
}
.remove:active{
    opacity: 0.6;
}
.display_name{
display: flex;
justify-content: end;
padding: 10px;
}
.text_1{
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    color: goldenrod;
}
.text_0{
    font-size: 18px;
}
.fixed_1{
    position: fixed;
    bottom: 20px;
    right: 30px;
}
@media screen and (max-width:700px) {
    .text_1{
        width: 80%;
    }
}